
doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body   
    
    h1= title
    a(href='/update-cobj') Add/Update this table

    table
      thead
        tr
          th Name
          th Associated Word
          th Associated Energy
          th Example in the nature

      tbody
        each item in data
          tr
            td= item.properties.name
            td= item.properties.associated_word
            td= item.properties.associated_energy
            td= item.properties.example_in_the_nature     